@tailwind base;
@tailwind components;
@tailwind utilities;

.where-we-found-container {
    @apply w-auto h-20 border-2 rounded-md flex justify-around
}

.container-images {
    @apply flex justify-center items-center w-full
} 

.container-images img {
    @apply object-contain
}

.button-component {
    @apply hover:translate-x-[5px] hover:translate-y-[5px] transition
}

.component-render {
    @apply flex flex-col items-center justify-center
}
.components {
    @apply flex items-center
}
h1 {
    @apply text-h1Size text-h1color
}
.name-of-bug {
    @apply py-8
}

.what-is-infos {
    @apply flex items-center justify-evenly
}

.container-kising-bug-infos {
    @apply flex flex-col justify-evenly gap-[16px]
}
em {
 @apply underline
}

.p-answers {
    @apply text-justify text-base text-pcolor indent-8 px-3
}
.WhatIsSection {
    @apply h-[3700px]
}

.BackGroundRow {
    @apply bg-backGround rounded-lg py-3
}
.BackGroundRow p {
    @apply  text-xl
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s ;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

