.containerKissingBugInfos {
   display: grid;           
   grid-template: repeat(10, 480px) / 1fr 1fr 1fr;
   gap: 0px;
   height: 100%;
   width: 100%;
   padding: 0 10px;
}
.BgWrap {
   position: fixed;
   height: 100%;
   width: 100%;
   overflow: hidden;
   z-index: -1;
}
.Coluna1Row2 {
   grid-row: 2 / 13;
   grid-column: 1 / 2;
}
.Coluna1Row6 {
   grid-row: 6 / 13;
   grid-column: 1 / 2;
}
.Coluna1Row10 {
   grid-row: 10 / 13;
   grid-column: 1 / 2;
}

.Meio {
    grid-row: 1 / 13;
    grid-column: 2 / 3;
}


.Coluna2Row4 {
   grid-row: 4 / 13;
   grid-column: 3 / 4;
}

.Coluna2Row8 {
   grid-row: 8 / 13;
   grid-column: 3 / 4;
}
.Coluna2Row13 {
   grid-row: 13 / 13;
   grid-column: 3 / 4;
}